@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
}

html, body, main{
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	color: #373a3c;
	font-size: 17px;
	line-height: 1.5em;
}

h1{
	margin: 50px 0;
	/* text-align: center; */
	color: #652878;
	text-transform: uppercase;
	font-size: 25px;
}

h2, p{
	margin: 30px 0;
}


.container {
    width: calc(100% - 40px);
    margin: 0 auto;
} 

.topofixo {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
}

.menu-block{
	height: 68px;
}

.topofixo .container{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.topofixo #menu {
    font-size: 17px;
    margin-left: 30px;
}

.topofixo #menu li {
    display: inline-block;
    position: relative;
}

.topofixo #menu a {
    display: block;
    color: #1f1f1f;
    text-decoration: none;
    padding: 8px 10px;
    text-align: center;
}

.topofixo #menu .dropdown [class*="sub-menu"] {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    height: auto;
    width: 230px;
    z-index: 7;
    background: #ffffff;
    box-sizing: border-box;
    padding: 5px;
    border: solid 1px #ccc;
}


.topofixo #menu .dropdown:hover [class*="sub-menu"] {
    display: block;
}

.topofixo #menu .dropdown:hover [class*="sub-menu"] li {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.topofixo #menu .dropdown:hover [class*="sub-menu"] li a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    color: #333;
    height: auto;
}

.topofixo #menu .dropdown:hover [class*="sub-menu"] li a:hover {
    background: rgba(0, 0, 0, .05);
    color: #000;
}

.topofixo #menu .dropdown ul li.dropdown [class*="sub-menu"] {
    display: none;
    position: absolute;
    top: 0px;
    left: 100%;
    margin: 0;
    height: auto;
    width: 190px;
    z-index: 7;
}

.topofixo #menu .dropdown ul li.dropdown:hover [class*="sub-menu"]{
    display: block;
}

.topofixo .logo {
    margin: 10px 0;
}

.topofixo .logo img {
    width: 90px;
}

.menu-login{
	flex-grow: 1;
}

.menu-login a, .btn-comprar{
	color: #fff;
	background-color: #652878;
	padding: 10px;
	text-decoration: none;
	float: right;
	transition: all linear .2s;
	border: none;
	cursor: pointer;
}

.menu-login a:hover{
	background-color: #462775;
}

.btn{
	text-align: center;
	margin-top: 50px;	
}

.btn a{
		color: #652878;
	text-decoration: none;
}

#main-login, #main-cadastro{
  display: flex;
  align-items: center;
  justify-content: center;

}

#main-login:after {
	content: "";
	background-image: linear-gradient(#00000070, #00000070), url(../imagens/kratos-e-filho.png),  url(../imagens/gears-of-war.png), url(../imagens/bg-login.png);
	background-repeat: no-repeat;
	background-size: cover, 46%, 25%, 110%;
	background-position: center, -15px 100%, 90% 100%, 30% 100%;
	opacity: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	animation: backgroundLogin 1.8s ease-out forwards;
	}

  @keyframes backgroundLogin{
	  to{
		opacity: 1; 
		background-size: cover, 47%, 26%, 110%;
		background-position: center, 5px 100%, 90% 100%, 50% 100%;

	  }
  }


.container-input{
	width: 300px;
	height: 400px;
	background: #fff;
	padding: 20px;
	/* box-shadow: 0px 0px 10px 1px #ccc; */


} 

.container-input svg{
	width: 110px;
	height: 110px;
	stroke-width: 15px;
	stroke: #652885;
	animation: desenha 1.3s linear forwards;
	stroke-dashoffset: 1200;
	stroke-dasharray: 1200;
	display: block;
	margin: 0 auto;
}


.container-input input{
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 6px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.container-input input[type="submit"]{
	background: #652885;
	color: #fff;
	font-size: 15px;
}

@keyframes desenha{

	to{
		stroke-dashoffset: 0;
	}
}



#main-cadastro:after {
	content: "";
	background-image: url(../imagens/watch-dogs.png), linear-gradient(#00000070, #00000070), url(../imagens/bg-cadastro.gif);
	background-repeat: no-repeat, no-repeat, repeat;
	background-size: 26%, cover, 40%;
	background-position: 0 100%;
	/*opacity: 0;*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	}

#pop-up-hacker{ 
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 2000;
	display: none;
	justify-content: center;
	align-items: center;
}

#pop-up-hacker.mostrar{
	display: flex;
}

.conteudo-pop-up{
	background-color: black;
	color: green;
	width: 60%;
	min-width: 300px;
	height: 70%;
	min-height: 350px;
	padding: 10px;
	box-sizing: border-box;
	border: solid 1px #cccccc;
	border-top: solid 25px #cccccc;
	position: relative;
	font-size: 20px;
	font-family: 'Ubuntu Mono', monospace; 
}

.menssagem-pop-up{
	margin: 10px 0;
}
.conteudo-pop-up .menssagem-pop-up:after{
	content: '|';
	margin-left: 2px;
	animation: cursor .7s infinite;
	font-weight: 800;
}

@keyframes cursor {
	0%, 100%{opacity: 1}
	50%{opacity: 0}
}

.fechar{
	position: absolute;
	top: -25px;
	right: 0;
	height: 25px;
	background-color: #d02020;
	color: #fff;
	width: 50px;
	cursor: pointer;
}

.conteudo-home{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 50px 0 0 0;
}

.conteudo-home .img-home img{
	transform: translateX(-20px);
	width: 100%;
	height: auto;
}

.conteudo-home .info, .conteudo-home .img-home{
	width: 50%;
}

.home-right{
	flex-direction: row-reverse;

}
.home-right .img-home img{
	transform: translateX(20px);
}

.thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
}

.thumbnails li {
    width: 213px;
    margin: 10px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: .3s;
    border: solid 1px ;
    text-decoration: none;
    list-style: none;
}

.thumbnails li:hover img {
    opacity: 0.9;
}

.thumbnails li:hover h2 {
    opacity: 0.9;
}

.thumbnails img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: .3s;
}

.thumbnails li h2{
	margin: 10px;
	font-size: 17px;
}

.thumbnails li h2 a{
	color: #1f1f1f;
	text-decoration: none;
}

.produto .caixa-produto{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: #f5f5f5;
	border: solid 1px #cccccc;
	border-radius: 5px;
	box-sizing: border-box;
}

.caixa-produto .desc-produto, .caixa-produto .img-produto{
	width: 50%;
	padding: 20px;
	box-sizing: border-box;
}

.caixa-produto .img-produto img{
	border: solid 1px #cccccc;
	width: 100%;
	height: 350px;
	object-fit: cover;
}

.conteduto-prod{
	width: 100%;
	padding: 20px;
	
}

footer{
	width: 100%;
	height: auto;
	background-color: #652878;
	color: #FFF;
	text-align: right;
}

footer p{
	margin: 0;
	padding: 10px 0
}

.form {
    width: 70%;
}

.form label, form span {
    width: 185px;
    font-weight: bold;
    padding-right: 5px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.form label span {
    font-size: 9px;
    color: #C00;
}

.form input,
.form textarea,
.form select {
    width: 80%;
    margin: 10px 0 4px 0;
    padding: 8px 5px;
    border: solid 1px #CFCFCF;
    font-size: 16px;
    box-sizing: border-box;
}

.form .bt-submit input{
	background-color: #652878;
    color: #fff;
    width: 151px
}

.input-number{
	padding: 5px;
}

.text-center{
	text-align: center;
}