@import url('https://fonts.googleapis.com/css?family=Roboto:400&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

html, body, main{
	min-height: 100vh;
}

body{
	display: flex;
	flex-direction: row;
	background: #f7f7f7;
}

main{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

h1{
	font-size: 25px;
	color: #73879c;
	margin: 25px 0px;
}

h1 i{
	font-size: 25px;
}

header {
	color: #fff;
	min-width: 230px;
	min-height: 100%;
	background: #001b2c;
	box-sizing: border-box;
	padding-bottom: 20px;
}

header a{
	color: #fff;
	text-decoration: none;
}


.menu-user{
	text-align: center;
	padding: 25px 0;
}

.menu-user img{
	width: 200px;
	height: 200px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	border-radius: 100%;
	border: solid 4px;
	object-fit: cover;
}

.menu-painel ul li{
	list-style: none;
}

.menu-painel ul li a{
	display: block;
	padding: 17px;
	position: relative;
}

.menu-painel ul li a:hover{
	background: #04121d;
}


.menu-painel ul li a i{
	font-size: 30px;
	float: right;
	transform: translateY(-5px);
}


.sub-menu-painel li{
	position: relative;
}

 .menu-painel ul li .sub-menu-painel li a{padding: 5px;padding-left: 40px;}

.menu-painel ul li .sub-menu-painel li{
	/* padding: 0; */
}

.sub-menu-painel li:before{
	background: #425668;
	content: "";
	height: 8px;
	left: 23px;
	position: absolute;
	width: 8px;
	z-index: 1;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
}

.sub-menu-painel li:after{
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
}

.arcoddion ul{
	max-height: 0;
	overflow: hidden;
	transition: all .3s linear;
}

.pagina-404{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;	
}

.pagina-404 h1{
	font-size: 50px;
}

.table-listar{
	width: 100%;
	border-collapse: collapse;
	border: solid 1px #73879c;
	text-align: left;
}

.table-listar thead {
	background: #001b2c;
    color: #fff;
}
.table-listar thead tr th, .table-listar tbody tr td{
	padding: 8px;
}

.table-listar tbody tr{
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table-listar .td-img img{
	width: 110px;
	height: 90px;
	border: solid 1px #4e4e4e;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 4px;
	object-fit: cover;
}

.table-listar tbody tr td:nth-child(1){
	width: 5%
}

.table-listar tbody tr td:nth-child(2){
	width: 15%
}

.table-listar tbody tr td:nth-child(3){
	width: 20%
}

.table-listar tbody tr td:nth-child(4){
	width: 40%
}

.table-listar tbody tr td:nth-child(5){
	width: 10%
}

.table-listar tbody tr td:nth-child(6){
	min-width: 100px;
}
.table-listar tbody tr td a{
	padding: 6px;
	border: none;
	color: #fff;
	border-radius: 2px;
	text-align: center;
}
.table-listar tbody tr td a i{
	font-size: 14px;
}

.acoes-ver{	background-color: #4B5F71; font-size: 10px;}
.acoes-editar{	background-color: #337ab7;}
.acoes-excluir{	background-color: #d9534f;}

.form-painel, .container-painel{
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 25px;
	background: #fff;
	border: solid 1px #ccc;
}


.form-painel .form-input, .form-painel .form-file, .form-painel .form-text, .form-radio, .form-painel .form-select{
	margin: 10px 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.form-painel .form-text{
	align-items: unset;
}

.form-painel .form-input input, .form-painel .form-file input, .form-painel .form-radio .status-radio, .form-painel .form-select select{
	padding: 7px;
	width: 80%;
	box-sizing: border-box;
	border-radius: 3px;
	border: solid 1px #9E9EA0;
}

.form-painel .form-radio .status-radio{
	border: none;
}

.form-painel .form-file input[type=file]{
	padding: 5px;
}

.form-painel .form-text textarea{
	width: 80%;
	padding: 4px;
	box-sizing: border-box;
	border-radius: 3px;
	border: solid 1px #9E9EA0;
	
}
.form-painel .form-submit{
	margin-top: 25px;
	text-align: right;
}

.form-painel .form-submit button{
	width: 40px;
	height: 40px;
	background: #001b2c;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}

.form-painel .form-input label, .form-painel .form-text label, .form-painel .form-file label, .form-radio > label, .form-painel .form-select label{
	margin-right: 18px;
	color: #73879c;
}

.form-painel .form-file .img-atualizar img{
	width: 200px;
	height: auto;
	object-fit: cover;
	margin-bottom: 10px;
}

.form-painel .form-file .img-atualizar{
	display: flex;
	flex-direction: column;
	width: 80%;
}
.form-painel .form-file .img-atualizar input{
	width: 100%;
}
